@{
    ViewBag.Title = "About";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="icon" type="image/png" href="@Url.Content("~/content//content/images/favicon.ico")?" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/css/db-theme.min.css")" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css" rel="Stylesheet" />
    <script src="@Url.Content("~/Scripts/core/namespace.js")?" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/notifier.js")?" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/profile.js")?" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core/analytics.js")?" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/jquery.ba-bbq.min.js")?"></script>
    <script src="@Url.Content("~/Scripts/tracking/outboundLinks.js")?" type="text/javascript"></script>
</head>
<body>
    <div id="outer-wrap" ng-init="leftmenuon = false">
        <div id="inner-wrap" ng-class="{'leftmenupush':leftmenuon==true}">
            <div class="db-theme content-wrapper">
                <header>
				    <!-- Desktop to iPad main menu -->
				    <section class="top-nav hidden-xs">
				        <div class="container">
				            <div class="col-sm-3 hidden-xs">
				                <a href="https://www.db.com/italia">
                                    <img class="img-responsive" src="/content/images/db.png" alt="Deutsche Bank"></img>
				                </a>
                                <a href="https://dbimpresaextra.it">
                                    <img class="impresa-logo" src="/content/images/db_Impresa_extra_logo-25.png" alt="db Impressa eXtra"></img>
                                </a>
				            </div>
				            <div class="col-sm-5 col-xs-12 super-top-menu">
				                <nav class="navbar navbar-default" ng-init="status.open = true">
				                    <div class="collapse navbar-collapse" id="top-nav" ng-class="{'collapse': status.open}">
				                        <ul class="nav navbar-nav">
				                            <li class="first"><a href="https://dbimpresaextra.it/faq">Aiuto</a></li>
				                            <li><a href="/Home/Contact">Contatti</a></li>
				                            @*<li><a href="https://www.db.com/italia/en/content/947.html">Mappa</a></li>*@
				                        </ul>
				                    </div>
				                </nav>
				            </div>
				            <div class="col-sm-2 col-md-3">

				            </div>
				            <div class="col-sm-1 hidden-xs text-right">
				                <a target="_blank" href="https://www.db.com/italia"><img class="db-logo" src="/content/images/db-logo.jpg" alt="Deutsche Bank"></img></a>
				            </div>
				        </div>
				    </section>

				    <!-- Mobile main menu -->
				    <section class="top-nav visible-xs">
				        <!-- Left Navigation -->
				        <nav class="navbar navbar-default navbar-left" style="top: -10px;">
				            <div class="navbar-collapse" id="top-nav">
				                <div class="row header-top">
				                    <div class="col-xs-6">
				                        <a href="#"><img class="img-responsive" src="/content/images/db.png" alt="Deutsche Bank"></img></a>
				                    </div>
				                    <div class="col-xs-6">
				                        <a target="_blank" href="https://www.db.com/index_e.htm"><img style="width: 30px;" class="pull-right" src="/content/images/db-logo.jpg" alt="Deutsche Bank"></img></a>
				                    </div>
				                </div>
				                <div class="row mobile-login">
				                    <div class="col-xs-6 text-center border-right">
				                        <a class="login first" href="#">Login</a>
				                    </div>
				                    <div class="col-xs-6 text-center">
				                        <a class="signup" href="#">Sign up</a>
				                    </div>
				                </div>
				                <ul class="nav navbar-nav">
			                        <li><a class="first" href="https://dbimpresaextra.it">Home<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
			                        <li><a href="https://dbimpresaextra.it/exnova">eXnova<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
			                        <li><a href>eXpandi<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
			                        <li><a href="https://dbimpresaextra.it/eXplora">eXplora<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
			                        <li><a href="https://expandi.dbimpresaextra.it" target="_blank">eXporta<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
			                        <li><a href="#">Pricing<span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
				                </ul>
				                <div class="row header-bot">
				                    <div class="col-xs-6 text-center border-right">
				                        <a href="#">Help</a>
				                    </div>
				                    <div class="col-xs-6 text-center">
				                        <a href="https://dbimpresaextra.it/contatti">Contact us</a>
				                    </div>
				                </div>
				            </div>
				        </nav>
				        <div class="container">
				            <div class="row">
				                <div class="col-xs-1 no-padding-left" >
				                    <nav class="navbar navbar-default">
				                        <div class="navbar-header">
				                            <a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" ng-click="leftmenuon=!leftmenuon;">
				                                <span class="sr-only">Toggle navigation</span>
				                                <span class="first icon-bar black-box"></span>
				                                <span class="icon-bar black-box"></span>
				                                <span class="icon-bar black-box"></span>
				                            </a>
				                        </div>
				                    </nav>
				                </div>
				                <div class="col-xs-4">
				                    <a href="#"><img style="width: 80px;" src="/content/images/db.png" alt="Deutsche Bank"></img></a>
				                </div>
				                <div class="col-xs-5"></div>
				                <div class="col-xs-2 no-padding-right">
				                    <a target="_blank" class="pull-right" href="https://www.db.com/index_e.htm"><img style="width: 24px;" src="/content/images/db-logo.jpg" alt="Deutsche Bank"></img></a>
				                </div>
				            </div>
				            <div class="row">
				                <div class="col-xs-12 no-padding-left">
				                    <img class="img-responsive impresa-logo" src="/content/images/db_Impresa_extra_logo-25.png" alt="Impresa eXtra"></img>
				                </div>
				            </div>
				            <div class="row">
				                <div class="col-xs-7 no-padding-left">

				                </div>
				            </div>
				        </div>
				    </section>
				    <section class="hidden-xs">
				        <div class="container">
                            <h3>A Proposito di Impresa eXpandi</h3>
                            <p>
                                Piccole e medie imprese sono già in svantaggio rispetto alla concorrenza non avendo accesso a una business intelligence ed un’analisi della concorrenza della stessa qualità di quelle ottenute dalle grandi imprese. Con i nostri servizi, siamo in prima linea nel facilitare l’accesso delle piccole e medie aziende a informazioni commerciali di qualità, per facilitarne la crescita e ridurre i fallimenti. 
                            </p> 
                            <p>
                                Impresa eXpandi fornisce informazioni di business intelligence di alta qualità affinché ogni azienda possa crescere prendendo le migliori decisioni basate sui dati più precisi e aggiornati. Usando Impresa eXpandi, le imprese possono valutare la loro competitività rispetto alla concorrenza e usare nuove risorse per migliorare il propri business. 
                            </p>
                            <p>
                               Impresa eXpandi fornisce servizi per le imprese che vogliono: 
                            </p>  

                            <h3>Confrontarsi con la concorrenza  </h3>
                            <p>Le imprese vogliono sapere come la loro attività si compara a quella della concorrenza e se i risultati che ottengono superano o sono superati dai loro concorrenti. Impresa eXpandi tratta milioni di informazioni per rispondere a questa domanda, in modo che le imprese conoscano il loro posizionamento. </p> 

                            <h3>Guadagnare di più</h3>
                            <p>Ottenere una mappa che localizza concorrenti, clienti e fornitori. Determinare come servire al meglio i clienti esistenti, come trovare nuovi clienti e come scegliere i fornitori. Usare la mappa per individuare aree con molti clienti potenziali ma con poca concorrenza. </p> 

                            <h3>Proporsi sul mercato </h3>
                            <p>Identificare le migliori aree-obiettivo per la prossima campagna pubblicitaria. Usare studi predefiniti per scegliere le aree più redditizie nel settore, con i mercati meno concorrenziali e dove i profitti medi delle imprese sono più alti, oppure creare uno studio demografico e/o commerciale secondo le proprie esigenze.  </p> 

                            @*  *@

                            <h3>Attrarre nuovi clienti e fornitori migliori</h3>
                            <p>È importante che l'Azienda si affranchi dalla dipendenza da reti personali, contatti con associazioni industriali, o aziende di lead generation per capire da chi comprare e a chi vendere. Impresa eXpandi crea liste di aziende di clienti e fornitori potenziali su base geografica. Questo servizio fornisce informazioni dettagliate che permettono di servire clienti esistenti e trovarne dei nuovi con maggiore efficacia. Il servizio fornisce inoltre informazioni e liste di potenziali fornitori. </p> 

                            <h3>Battere la concorrenza</h3>
                            <p>Impresa eXpandi permette alle aziende di effettuare un confronto diretto fra loro ed 
                            i concorrenti del settore, sia a livello locale che nazionale. Questi confronti settoriali sono basati su un gran numero di variabili commerciali, settoriali e di localizzazione. Ciò permette ad ogni impresa di prendere coscienza dei propri punti forti e punti deboli, in modo da assumere le decisioni più opportune per far crescere i profitti. 
                            </p> 

                            <h3>Risparmiare</h3>
                            <p>Impresa eXpandi mostra alle imprese in quali settori possono risparmiare, e fornisce loro le informazioni per spendere meno. Le imprese possono confrontare quanto spendono rispetto ad aziende simili. </p> 

                            <h3>Trovare nuove opportunità</h3>
                            <p>Impresa eXpandi identifica i luoghi con la più alta crescita o il maggior bisogno di attività,  mostrando agli imprenditori nuove opportunità per creare aziende in settori poco sviluppati della loro comunità. Si possono direttamente identificare delle opportunità di mercato a livello geografico. </p> 

                            @**@

                            <h3>Anticipare il futuro della propria attività</h3>
                            <p>Immaginare la situazione dell'Azienda a fronte di cambiamenti del suo ambiente può fornire indicazioni essenziali per la previsione e la pianificazione strategica. Formulando delle ipotesi sul futuro all’interno dello strumento di competitività commerciale di Impresa eXpandi, le aziende possono confrontare i cambiamenti nella loro attività con quelli del settore. Impresa eXpandi fornisce modeling di scenari, chiamato anche “futuring”, basato su ipotesi commerciali fondamentali.  </p> 

                            <h3>Feedback personalizzato</h3>
                            <p>Non esistono due imprese identiche, anche se molte condividono opportunità e sfide comuni.  Impresa eXpandi permette ad ogni azienda di trovare le informazioni per lei pertinenti e fornisce rapporti di business intelligence personalizzati, unici come l’impresa. </p> 

                            <h3>Saperne di più</h3>
                            <p>Un limite comune è ignorare ciò che si ignora. Impresa eXpandi fornisce alle imprese le informazioni delle quali non sanno ancora di avere bisogno, ma che possono far loro avere più successo. Inoltre, le informazioni fornite sono immediate, mostrando visivamente, e con spiegazioni, i problemi e le opportunità. </p> 

                            <h3>Business plan </h3>
                            <p>Investitori e aziende di credito hanno bisogno di conoscere le opportunità e gli obiettivi di un’azienda, e la strategia proposta per raggiungere questi ultimi.  Questa strategia si trova generalmente nel business plan. L’analisi di dati e i rapporti di Impresa eXpandi fornisce l’intelligence sul mercato e sulla concorrenza che può essere inserita direttamente nel business plan. </p>                    

@*				            <div class="hero">
				                <nav class="navbar navbar-default">
				                    <div class="navbar-header">
				                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hero-nav">
				                            <span class="sr-only">Toggle navigation</span>
				                            <span class="icon-bar"></span>
				                            <span class="icon-bar"></span>
				                            <span class="icon-bar"></span>
				                        </button>
				                    </div>
				                    <div class="collapse navbar-collapse" id="hero-nav">
				                        <ul class="nav navbar-nav navbar-left">
			                                <li><a href="https://dbimpresaextra.it"><span class="first">Home</span></a></li>
			                                <li><a href="https://dbimpresaextra.it/exnova"><span>eXnova</span></a></li>
			                                <li><a href style="color:#0097DA;"><span>eXpandi</span></a></li>
			                                <li><a href="https://dbimpresaextra.it/eXplora"><span>eXplora</span></a></li>
			                                <li><a href="https://expandi.dbimpresaextra.it" target="_blank"><span>eXporta</span></a></li>
			                                <li><a href="#"><span class="last">Pricing</span></a></li>
				                        </ul>

				                        <ul class="nav navbar-nav navbar-right">
				                            <li><a class="login" href="#">Login<span class="glyphicon glyphicon-play"></span></a></li>
				                            <li>
				                                <form name='gettingStartedForm'  action="#" method='post' ng-submit="submit()">
				                                    <input type="hidden" name="${ctx._csrf.parameterName}" value="${ctx._csrf.token}" />
				                                    <input type="hidden" name="gettingStarted" value="true"/>
				                                    <input type="submit" value="Sign up" class="signup" /><span class="glyphicon glyphicon-play signup-span"></span>
				                                </form>
				                            </li>
				                        </ul>
				                    </div>
				                </nav>
				                <div class="breadcrumbs">
				                    <p>You are here: <span>Home</span><a href>eXpandi</a></p>
				                </div>
				                <div class="drop-shadow-hero"></div>
				            </div>*@

				        </div>
				    </section>
				</header>
            </div>
            <div id="content" class="container">
                <div id="contentWrap" style="padding: 0px 20px;">
                </div>
            </div>
            <div class="db-theme">
                <footer>
			        <section>
			            <div class="container">
			                <div class="row top">
			                    <div class="col-xs-12">
			                        <p>In association with<i></i></p>
			                    </div>
			                </div>
			            </div>
			        </section>
			        <section class="bottom">
			            <div class="container">
			                <div class="row no-padding-left no-padding-right">
			                    <div class="visible-xs col-xs-12">
			                        <ul class="large-social-icons">
			                            <li><a href=""><img src="/content/images/Twitter-logo1.png" alt="" /></a></li>
			                            <li><a href=""><img src="/content/images/In-2C-101px-R.png" alt="" /></a></li>
			                            <li><a href=""><img src="/content/images/youtube-icon.png" alt="" /></a></li>
			                        </ul>
			                    </div>
			                    <div class="col-sm-6 col-xs-12 no-padding-left">
			                        <ul class="nav navbar-nav">
                                        <li><a href="https://dbimpresaextra.it/disclaimer">Terms of use</a></li>
			                            <li><a href="#">Privacy policy</a></li>
			                            <li><a href="/HowItWorks/Index">Come Funziona</a></li> @*How it works*@
                                        <li><a href="https://dbimpresaextra.it/faq">Domande Frequenti</a></li> @*FAQ*@
                                        <li><a href="https://dbimpresaextra.it/contatti">Contattaci</a></li>@*Contact*@
			                            <li><a href="#">Proposito </a></li> @*About*@
			                        </ul>
			                        <p>Copyright © 2015 Deutsche Bank S.p.A</p>
			                    </div>
			                </div>
			            </div>
                    </section>
			    </footer>
            </div>
        </div>
    </div>
</body>
</html>
